@import "../mixins";

////////////////////////////////////////////////
/// BANNER
////////////
.banner {
  background-color: #000;
  height: 4.8rem;
  @include font();
  color: var(--c-off-white);
  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-items: center;
  }
}
.banner_link {
  @include font(1.4rem, 2.4rem, 600);
  text-decoration: underline;
  margin-left: 0.8rem;
}
.banner_select {
  display: inline-block;
  @include font(1.4rem, 3rem);
  color: var(--c-off-white);
  background-color: var(--bg-black-transparent);
  border: none;
  width: 7.8rem;
  cursor: pointer;
  border-radius: var(--radius);
  outline: none;
}
////////////////////////////////////////////////
/// HEADER
////////////
.header-primary {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  .container {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    padding: 4.3rem 0 1.9rem;
    color: var(--c-black);
    .logo {
      margin-right: auto;
    }
  }
}
.main_nav {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  .header_nav {
    margin-right: 14.8rem;
  }
}
.header_navLink {
  @include font(1.6rem, 2.4rem);
  border-bottom: 1px solid transparent;
  transition: var(--animation);
  &.active {
    border-bottom: 1px solid;
    margin-bottom: -1px;
  }
}
.header_nav {
  display: flex;
  gap: 4.8rem;
}
.header_wrapper {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  position: relative;
}
.header_form {
  max-width: 24.3rem;
  background-color: var(--bg-gray);
  padding: 0.7rem 1.2rem;
  display: flex;
  align-items: center;
}
.header_input {
  border: none;
  outline: none;
  background: inherit;
  max-width: 19.7rem;
  &::placeholder {
    font-size: 1.2rem;
  }
}
.header_iconsWrapper {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.wishlistIcon,
.cartIcon {
  position: relative;
}
.wishlistCounter,
.cartCounter {
  position: absolute;
  top: -0.1rem;
  right: 0.1rem;
  background-color: var(--c-primary);
  color: white;
  @include font(1.2rem, 1.8rem);
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userIcon {
  transition: var(--animation);
}
.userIcon--selected {
  background-color: var(--c-primary);
  border-radius: 50%;
  padding: 0.5rem;
  & * {
    stroke: var(--c-white);
  }
}
.header_userNavList {
  display: none;
  position: absolute;
  top: 100%;
  right: 0%;
  flex-direction: column;
  gap: 1.3rem;
  background-color: var(--bg-black-transparent);
  border-radius: var(--radius);
  padding: 1.8rem 0;
  z-index: 1;
  a {
    @include font();
    color: var(--c-off-white);
    display: flex;
    gap: 1.6rem;
    align-items: center;
    padding: 0 2rem;
    transition: var(--animation);

    img {
      height: 2.4rem;
      width: 2.4rem;
    }
  }
  a:hover {
    color: var(--c-accent);
  }
}
.showNav {
  display: flex;
}
/////////////////////////////////
/// Mobile navigation
.mobileNav {
}
.mobileNav_btn--menue,
.mobileNav_btn--close {
  position: absolute;
  padding: 0.6rem;
  border-radius: 50%;
  // top: 11.5rem;
  top: 9.6rem;
  right: 3%;
  display: flex;
  transition: var(--animation);
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
// .mobileNav_btn--close {
//   visibility: hidden;
//   pointer-events: none;
//   opacity: 0;
// }
.mobileNav_btn--menue img,
.mobileNav_btn--close img {
  width: 4rem;
  height: 4rem;
  z-index: 99;
}
