@import "../mixins";

.loading {
  padding: 10rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem auto;
  gap: 6rem;
  svg {
    -webkit-animation: rotate-center 1s ease-in-out infinite;
    animation: rotate-center 1s ease-in-out infinite;
    width: 10rem;
    height: 10rem;
  }
  p {
    font-size: 10rem;
    line-height: 0.6rem;
    font-weight: 400;
  }
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
