@import "../mixins";

.pdtList {
  display: flex;
  gap: 3rem;
}
.pdt {
  position: relative;
}
.pdt:hover .pdt_addToCartBtn {
  transform: translateY(0%);
}

.pdt_imgWrapper {
  position: relative;
  width: 27rem;
  height: 25rem;
  border-radius: var(--radius);
  background-color: var(--bg-gray);
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.pdt_addToCartBtn {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.8rem 0;
  @include font(1.6rem, 2.4rem, 500);
  text-align: center;
  color: var(--c-white);
  background-color: var(--c-black);
  transition: var(--animation);
  transform: translateY(100%);
}
.pdt_textWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.pdt_title {
  @include font(1.6rem, 2.4rem, 600);
  max-width: 27rem;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflow */
  text-overflow: ellipsis;
}
.pdt_price {
  @include font(1.6rem, 2.4rem, 500);
  color: var(--c-primary);
}
.pdt_rating_wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.pdt_rating_num {
  @include font(1.4rem, 2.1rem, 600);
}
.pdt_rating_num,
.pdt_price--before {
  color: rgba(0, 0, 0, 0.5);
}
.card_icons {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  svg {
    cursor: pointer;
    fill: var(--c-white);
    transition: var(--animation);
  }
  svg:hover {
    fill: var(--c-primary-hover);
  }
}
