@import "../mixins";

////////////////////////////////////////////////
/// Hero
/////////
.about_hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  .text {
    max-width: 52.5rem;
    .heading-primary {
      margin-bottom: 4rem;
    }
    .description:first-of-type {
      margin-bottom: 2.4rem;
    }
  }
  img {
    width: 100%;
    display: block;
  }
}
////////////////////////////////////////////////
/// Statistics
///////////////
.about_statistics {
  display: flex;
  gap: 3rem;
}
.stat_item {
  width: 27rem;
  height: 23rem;
  padding-top: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: var(--radius);
  text-align: center;
  transition: var(--animation);
  &:hover {
    background-color: var(--c-primary);
    .stat_icon {
      background-color: var(--c-white);
      box-shadow: 0rem 0rem 0rem 1rem rgba(255, 255, 255, 0.3);
      & * {
        stroke: black;
      }
    }
    .stat_num,
    .stat_txt {
      color: var(--c-white);
    }
  }
}
.stat_icon {
  box-sizing: content-box;
  background-color: var(--c-black);
  border-radius: 50%;
  padding: 0.8rem;
  box-shadow: 0rem 0rem 0rem 1rem rgba(0, 0, 0, 0.3);
  & * {
    stroke: var(--c-off-white);
  }
}
.stat_item:nth-of-type(3) .stat_icon *,
.stat_item:nth-of-type(4) .stat_icon * {
  fill: var(--c-off-white);
}
.stat_item:nth-of-type(3):hover .stat_icon *,
.stat_item:nth-of-type(4):hover .stat_icon * {
  fill: var(--c-black);
}

.stat_num {
  @include font(3.2rem, 3rem, 700);
  letter-spacing: 0.4px;
  margin: 2.4rem auto 1.2rem;
}
.stat_txt {
  @include font(1.6rem, 2.4rem);
}
////////////////////////////////////////////////
/// Managers
/////////////
.about_carousel {
  overflow: hidden;
}
.about_managers {
  display: flex;
  gap: 3rem;
  transition: var(--animation) ease-out;
}
.manager {
  .name {
    @include font(3.2rem, 3rem, 500);
    font-family: var(--f-inter);
    letter-spacing: 0.4px;
    margin: 3.2rem 0 0.8rem;
  }
  .title {
    @include font(1.6rem, 2.4rem);
  }
  a {
    transition: var(--animation);
  }
  a:hover {
    transform: scale(1.2);
  }
}
.manager_imgFrame {
  height: 43rem;
  width: 37rem;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}
.manager_links {
  margin-top: 1.6rem;
  display: flex;
  gap: 1.6rem;
}
.managers_carouselBtns {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin-top: 4rem;
}
.manager_btn {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  background-color: var(--bg-black-transparent);
  position: relative;
}
.manager_btn--selected::after {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(17%, 17%);
  content: "";
  height: 0.9rem;
  width: 0.9rem;
  background-color: var(--c-primary);
  border: 2px solid var(--c-white);
  border-radius: 50%;
}
