@import "../mixins";
.checkout_wrapper {
  padding-top: 3.8rem;
  @include font(1.6rem, 2.4rem);
}
.checkout_heading {
  @include font(3.6rem, 3rem, 500);
  font-family: var(--f-inter);
  letter-spacing: 0.4px;
  margin-bottom: 4.8rem;
}
.checkout_form {
  display: flex;
  gap: 17.3rem;
  align-items: start;
}
.checout_inputs_Wrapper {
  display: flex;
  flex-direction: column;
}
.label {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 0.8rem;
}
.label[for="account-fname"]::after,
.label[for="account-street"]::after,
.label[for="account-city"]::after,
.label[for="account-phone"]::after,
.label[for="account-email"]::after {
  content: "*";
  color: var(--c-primary-hover);
}
.input {
  background-color: var(--bg-gray);
  border: none;
  padding: 1.3rem 1.6rem;
  margin-bottom: 3.2rem;
}
.checkbox_wrapper {
  display: flex;
  gap: 1.6rem;
  input {
    display: none;
  }
  input:checked ~ .account_checkIcon_box {
    background-color: var(--c-primary);
  }
}
.account_checkIcon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4rem;
  width: 2.4rem;
  background-color: var(--c-white);
  border: 1px solid var(--bg-black-transparent);
  border-radius: var(--radius);
  transition: var(--animation);
  .account_checkIcon {
    width: 1.4rem;
    height: 1rem;
  }
}

.checkout_pdt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 42.5rem;
  margin: 3.2rem 0;
}
.pdtName_wrapper {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.pdtImg {
  width: 5.4rem;
  height: 5.4rem;
}
.paymentMethods {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin: 3.2rem 0;
}
.method_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    gap: 1.6rem;
    align-items: center;
  }
  input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: 2px solid black;
    &:checked {
      box-shadow: inset 0 0 0 2px #fff;
      background-color: black;
    }
  }
}
@media (max-width: 75em) {
  .breadcrumb.container {
    flex-wrap: wrap;
  }
  .checkout_wrapper {
    margin-top: 4rem;
  }
  .checkout_form {
    flex-direction: column;
    gap: 5.3rem;
  }
}
