@import "../mixins";
.contact_wrapper.container {
  display: grid;
  grid-template-columns: 34rem 80rem;
  gap: 3rem;
  margin-top: 3.8rem;
}
.contact_info {
  display: flex;
  flex-direction: column;
  padding: 4rem 3.5rem;
  box-shadow: 1px 0 13px rgba(0, 0, 0, 0.05);
  border-radius: var(--radius);
  h3 {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    margin-bottom: 0.8rem;
    @include font(1.6rem, 2.4rem, 500);
  }
  p {
    @include font(1.4rem, 2.1rem);
    margin-top: 1.6rem;
  }
}
.contact_info_call {
  padding-bottom: 3.2rem;
  border-bottom: 1px solid var(--bg-black-transparent);
}
.contact_info_mail {
  padding-top: 3.2rem;
}
.contact_form {
  padding: 4rem 3.2rem;
  box-shadow: 1px 0 13px rgba(0, 0, 0, 0.05);
  border-radius: var(--radius);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.6rem;
  row-gap: 3.2rem;
  & *::placeholder {
    @include font(1.6rem, 2.4rem);
  }
  textarea {
    grid-column: span 3;
    resize: none;
    height: 20.7rem;
  }
  input,
  textarea {
    background-color: var(--bg-gray);
    border: none;
    padding: 1.3rem 1.6rem;
    border-radius: var(--radius);
    outline: none;
  }
  button {
    grid-column: 3;
  }
}
.contact_inputWrapper {
  position: relative;
}
.contact_inputWrapper::before {
  content: "*";
  position: absolute;
  top: 24%;
  left: 47%;
  color: var(--c-primary-hover);
}
/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  .breadcrumb.container {
    padding: 4rem 1rem 2rem;
  }
  .contact_wrapper.container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .contact_info {
    flex-direction: row;
    max-width: 83rem;
    width: 100%;
  }
  .contact_info_call {
    padding-right: 3.2rem;
    padding-bottom: 0;
    border-right: 1px solid var(--bg-black-transparent);
    border-bottom: none;
  }
  .contact_info_mail {
    padding-left: 3.2rem;
    padding-top: 0;
  }
  .contact_form {
    grid-template-columns: 1fr !important;
    max-width: 83rem;
    width: 100%;
    input {
      width: 100%;
    }
    textarea {
      grid-column: 1;
    }
    button {
      grid-column: 1;
    }
  }
  .contact_inputWrapper::before {
    left: 11rem;
  }
  .products-wrapper {
    margin: 11rem auto;
  }
}
@media (max-width: 59em) {
  .contact_info {
    flex-direction: column;
  }
  .contact_info_call {
    padding-right: 0;
    padding-bottom: 3.2rem;
    border-bottom: 1px solid var(--bg-black-transparent);
    border-right: none;
  }
  .contact_info_mail {
    padding-top: 3.2rem;
    padding-left: 0;
  }
}
