@import "../mixins";

///////////////////////////////////////////
/// Header
//////////////////
.home_subHeading {
  @include font(1.6rem, 2rem, 600);
  color: var(--c-primary);
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-bottom: 2rem;
  &::before {
    content: "";
    height: 4rem;
    width: 2rem;
    display: inline-block;
    border-radius: var(--radius);
    background-color: var(--c-primary);
  }
}
.heading_btns_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}
.home_heading {
  @include font(3.6rem, 4.8rem, 600);
  font-family: var(--f-inter);
  letter-spacing: 0.4px;
}
///////////////////////////////////////////
/// HERO
//////////////////
.home_hero {
  display: grid;
  grid-template-columns: 23.3fr 89.2fr;
  column-gap: 4.5rem;
  .carousel_btns {
    display: flex;
  }
}
.hero_nav {
  padding: 4rem 1.6rem 0 0;
  border-right: 0.5px solid var(--c-black);
}
.hero_navlist {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  .hero_subNav {
    display: flex;
    justify-content: space-between;
  }
}

.hero_carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 89.2rem;
  max-height: 34.4rem;
  margin-top: 4rem;
  background-color: var(--c-black);
  display: grid;
  justify-items: center;
  align-items: center;
  // z-index: -1;
  .carousel_btns {
    z-index: 2;
    position: absolute;
    bottom: 1.1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.hero_carousel_imgs {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  a {
    position: absolute;
    left: 6.7rem;
    bottom: 5.1rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }
  picture {
    transition: var(--animation);
    flex-shrink: 0;
    max-width: 100%;
  }
  img {
    max-width: 100%;
  }
}
///////////////////////////////////////////
/// FLASH SALE
//////////////////
.section-sale,
.section-explore {
  display: flex;
  flex-direction: column;
}
.timer {
  margin-top: -0.4rem;
  margin-left: -30%;
  color: var(--c-primary-hover);
  display: flex;
  gap: 1.7rem;
  font-size: 3.2rem;
  span {
    color: var(--c-black);
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  .title {
    @include font(1.2rem, 1.8rem, 500);
  }
  .num {
    @include font(3.2rem, 3rem, 700);
    font-family: var(--f-inter);
    letter-spacing: 0.4px;
  }
}
.section-sale .btn-primary,
.section-explore .btn-primary {
  margin-top: 6rem;
  align-self: center;
}
///////////////////////////////////////////
/// CATEGORIES
//////////////////
.section-categories {
  padding: 8rem 0 7rem;
  border-bottom: 0.5px solid var(--bg-black-transparent);
}
.categories_Wrapper {
  display: flex;
  gap: 3rem;
  overflow: hidden;
  transition: var(--animation);
}
.category {
  border: 1px solid var(--bg-black-transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 17rem;
  height: 14.5rem;
  border-radius: var(--radius);
  transition: var(--animation);
  img {
    width: 5.6rem;
    margin-bottom: 1.6rem;
  }
  &:hover {
    background-color: var(--bg-gray);
  }
}
.category_name {
  @include font(1.6rem, 2.4rem);
}
///////////////////////////////////////////
/// ADVERTISEMENT
//////////////////
.advertisement {
  position: relative;
  margin-bottom: 7.1rem !important;
  .btn-primary {
    position: absolute;
    left: 5.6rem;
    bottom: 6.9rem;
    background-color: var(--c-accent);
    color: var(--c-white);
    &:hover {
      background-color: #00e65c;
    }
  }
  img {
    width: 100%;
  }
}
///////////////////////////////////////////
/// NEW ARRIVAL
//////////////////
.newPdt_grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 28.4rem 28.4rem;
  column-gap: 3rem;
  row-gap: 3.2rem;
}
.newPdt {
  color: var(--c-white);
  background-color: black;
  border-radius: var(--radius);
  position: relative;
  .title {
    @include font(2.4rem, 2.4rem, 600);
    font-family: var(--f-inter);
    letter-spacing: 0.3px;
  }
  .description {
    @include font(1.4rem, 2.1rem);
  }
}
.newPdt_textWrapper {
  position: absolute;
  left: 3.2rem;
  bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}
.newPdt:first-child {
  background-image: url("../assets/icons/lg/hero3.svg");
  grid-row: 1/3;
  .newPdt_textWrapper {
    max-width: 24.2rem;
  }
}
.newPdt:nth-child(2) {
  grid-column: 2/4;
  .newPdt_textWrapper {
    max-width: 25.5rem;
  }
}
.newPdt:nth-child(3) {
  background-image: url("../assets/icons/lg/hero4.svg");
}
.newPdt:last-of-type {
  background-image: url("../assets/icons/lg/hero5.svg");
}
//////////////////////////////////////////
/// HomePage Carousels
//////////////////////
.section-sale {
  clip-path: inset(0px -60% 0px 0px);
}
.section-explore,
.section-best {
  overflow-x: hidden;
}
.home_carousel_container {
  transition: var(--animation);
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  .home_hero.container {
    column-gap: 2.5rem;
    max-width: 100%;
  }
  .hero_carousel_imgs a {
    left: 6%;
    bottom: 10%;
  }
  .section-categories.container {
    padding-bottom: 6rem;
  }
  header .btn-arr-wrapper {
    display: none;
  }
  .mb-14 {
    margin-bottom: 11rem !important;
  }
  .section-sale .btn-primary,
  .section-explore .btn-primary {
    margin-top: 5rem;
  }
  .advertisement .btn-primary {
    left: 6%;
    bottom: 10%;
  }
  .newPdt {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
  .newPdt_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 28.4rem 28.4rem;
  }
  .newPdt:first-child {
    grid-row: 1/2;
  }
  .newPdt:nth-child(2) {
    grid-column: 2/3;
  }
  .newPdt:nth-child(3) {
    background-image: url(../assets/icons/new1.svg);
  }
  .newPdt:last-of-type {
    background-image: url(../assets/icons/new2.svg);
  }
  .features {
    gap: 2.8rem;
  }
  .feature {
    text-align: center;
  }
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {
  .home_hero.container {
    margin-top: 2rem;
  }
  // .hero_nav account_navigate account_navigate--visible
  .hero_nav {
    padding: 0;
    z-index: 66;
    transition: var(--animation);
  }
  .hero_navlist {
    position: absolute;
    top: -22px;
    left: 2rem;
    padding: 3rem;
    border: 1px solid black;
    border-radius: var(--radius);
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    gap: 2.8rem;
  }
  .hero_carousel {
    margin: 0;
  }
  .home_heading {
    font-size: 3rem;
  }
  .home_hero {
    grid-template-columns: 1fr;
  }
  .newPdt_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 28.4rem 28.4rem 28.4rem 27.4rem;
  }
  .newPdt:nth-child(2) {
    grid-column: auto;
  }
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
@media (max-width: 44em) {
  .heading_btns_wrapper {
    align-items: flex-start;
    flex-direction: column;
  }
  .timer {
    margin-top: 1.6rem;
    margin-left: 0;
  }
  .categories_Wrapper {
    padding-bottom: 6rem;
  }
  .advertisement.container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    .btn-primary {
      position: static;
    }
    .advertisement img {
      max-width: max-content;
    }
  }
}
/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .home_hero {
    justify-items: start;
  }
  .home_hero .menu-secondary {
    margin: 2rem 0rem 4rem;
  }
  .heading_btns_wrapper {
    .btn-primary {
      margin-top: 1.6rem;
    }
  }
  .hero_carousel {
    overflow: auto;
    max-height: 100%;
    justify-self: center;
  }
  .hero_carousel,
  .hero_carousel_imgs {
    max-width: 34.4rem;
    width: 30rem;
    overflow: clip;
  }
  .hero_carousel .carousel_btns {
    display: flex;
  }
  .hero_nav {
    width: 100%;
  }
  .shopNowLink {
    margin-bottom: 1rem;
    font-size: 2.6rem;
  }
  .timer {
    gap: 1rem;
  }
  .newPdt:nth-child(2) .newPdt_textWrapper {
    max-width: 21.5rem;
  }
}
