@import "../mixins";
.details_wrapper {
  padding: 3.8rem 0 14rem;
  display: grid;
  grid-template-columns: 7fr 4fr;
  gap: 7rem;
  align-items: start;
}
.details_imgs {
  display: grid;
  grid-template-columns: 17fr 50fr;
  column-gap: 3rem;
  row-gap: 1.6rem;
  figure {
    width: 17rem;
    height: 13.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-gray);
    border-radius: var(--radius);
  }
  figure:nth-child(2) {
    grid-row: span 4;
    width: 50rem;
    height: 60rem;
  }
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}
.f-sm {
  @include font(1.4rem, 2.1rem);
}
.f-md {
  @include font(2rem, 2rem);
  letter-spacing: 0.3px;
  font-family: var(--f-inter);
}
.details_title {
  @include font(2.4rem, 2.4rem, 600);
  letter-spacing: 0.3px;
  font-family: var(--f-inter);
}
.details_rating_box {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  color: var(--bg-black-transparent);
}
.details_rating {
  display: flex;
  gap: 1.6rem;
}
.details_inStock {
  color: var(--c-accent);
}
.details_price {
  @include font(2.4rem, 2.4rem, 400);
}
.details_description {
  padding-bottom: 2.4rem;
  border-bottom: 1px solid var(--bg-black-transparent);
}

.details_colors,
.details_sizes {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.sizes {
  display: flex;
  gap: 1.6rem;
  input[type="radio"] {
    display: none;
  }
  label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: var(--radius);
    border: 1px solid var(--bg-black-transparent);
    transition: var(--animation);
  }
  input[type="radio"]:checked + label,
  label:hover {
    background-color: var(--c-primary);
    border: 1px solid var(--c-primary);
    color: white;
  }
}
.details_buy {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  align-items: center;
  .wishlist-icon {
    margin-left: 0.3rem;
  }
}
.count {
  border-radius: var(--radius);
  display: flex;
  & * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.4rem;
  }
  p {
    @include font(2rem, 2.8rem, 500);
    width: 7.8rem;
    border-top: 1px solid var(--bg-black-transparent);
    border-bottom: 1px solid var(--bg-black-transparent);
  }
  button {
    border: 1px solid var(--bg-black-transparent);
    width: 4.1rem;
    &:first-child {
      border-top-left-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
    }
    &:last-child {
      border-top-right-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
    }
    &:hover {
      border: 1px solid var(--c-primary);
      background-color: var(--c-primary);
      color: var(--c-white);
    }
    span {
      width: 8rem;
    }
  }
}
.count_btns {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.details_wishlist-btn {
  display: flex;
}
.wishlist-icon {
  width: 4rem;
  height: 4rem;
  fill: var(--c-white);
  transition: var(--animation);
}
.wishlist-icon:hover {
  fill: var(--bg-gray);
}
.details_delivary {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: var(--radius);
  padding: 0.8rem 0;
  margin-top: 4rem;
}
.details_delivary_item {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  padding: 1.6rem;
  a {
    text-decoration: underline;
    cursor: pointer;
  }
  .title {
    @include font(1.6rem, 2.4rem, 500);
  }
  .description {
    @include font(1.2rem, 1.8rem, 500);
  }
}
.details_delivary_item:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.details_title,
.details_rating_box {
  margin-bottom: 1.6rem;
}
.details_description,
.details_sizes {
  margin: 2.4rem 0;
}

.details_relatedPdts .home_subHeading {
  margin: 0;
}
.details_relatedPdts {
  overflow: hidden;
}
@media (max-width: 75em) {
  .pdt_addToCartBtn {
    transform: translateY(0%);
  }
  .details_wrapper {
    grid-template-columns: 1fr;
    margin-top: 6rem;
  }
  .details_details {
    width: fit-content;
    margin-bottom: 8rem;
  }
}
@media (max-width: 59em) {
  .details_imgs {
    grid-template-columns: 1fr;
    figure {
      width: 95%;
      height: 95%;
    }
  }
  .details_imgs figure:nth-child(2) {
    grid-row: 1;
    height: 95%;
    width: 95%;
  }
}
@media (max-width: 44em) {
  .loading {
    padding: 8rem 0;
    gap: 2rem;
  }
  .loading svg {
    width: 6rem;
    height: 6rem;
  }
  .loading p {
    font-size: 4rem;
  }
}
@media (max-width: 37em) {
  .details_wrapper.container {
    max-width: 100%;
  }
  .details_buy {
    flex-direction: column;
  }
  .details_rating_box {
    flex-direction: column;
    align-items: start;
  }
  .details_sizes,
  .sizes {
    gap: 1.4rem;
  }
  .details_delivary {
    padding: 0;
  }
}
