@import "./mixins";
.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}
///////////////////////////////////////////////
/// Error Page
///////////////
.error_wrapper {
  text-align: center;
  margin: 9.8rem auto 14rem;
}
.error_heading {
  @include font(11rem, 11.5rem, 500);
  font-family: var(--f-inter);
  letter-spacing: 0.3px;
}
.error_description {
  margin: 4rem auto 8rem;
}
@media (max-width: 75em) {
  .error_heading {
    font-size: 6rem;
    line-height: 4.5rem;
  }
}
@media (max-width: 59em) {
  .error_heading {
    font-size: 4rem;
  }
  .error_description {
    margin: 2rem auto 3rem;
  }
  .error_wrapper {
    margin: 4.8rem auto 8rem;
  }
}
//////////////////////////////////
/// ProductsPage
////////////////
.products-wrapper {
  padding: 9rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .pdtList {
    flex-wrap: wrap;
    li {
      margin-bottom: 3rem;
    }
  }
}
/////////////////////////////
/// Review page
.review_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  height: 100%;
  padding: 2rem 4rem;
  box-shadow: 1px 0 13px rgba(0, 0, 0, 0.1);
  border-radius: var(--radius);
  transition: var(--animation);
}
.review_container:hover {
  transform: scale(1.05);
}
.review_img {
  max-width: 20rem;
}
.review_num {
  font-size: 2rem;
  font-weight: 500;
  margin-top: auto;
}
@media (max-width: 37em) {
  .review_container {
    padding: 2rem 3.2rem;
  }
}
