@import "./mixins";
.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}
///////////////////////////////////////////////
/// Error Page
///////////////
.error_wrapper {
  text-align: center;
  margin: 9.8rem auto 14rem;
}
.error_heading {
  @include font(11rem, 11.5rem, 500);
  font-family: var(--f-inter);
  letter-spacing: 0.3px;
}
.error_description {
  margin: 4rem auto 8rem;
}
//////////////////////////////////
/// ProductsPage
////////////////
.products-wrapper {
  padding: 9rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .pdtList {
    flex-wrap: wrap;
    li {
      margin-bottom: 3rem;
    }
  }
}
//////////////////////////////////
/// Loading
////////////////
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem auto;
  gap: 6rem;
  svg {
    -webkit-animation: rotate-center 1s ease-in-out infinite;
    animation: rotate-center 1s ease-in-out infinite;
    width: 15rem;
    height: 15rem;
  }
  p {
    font-size: 15rem;
    line-height: 0.6rem;
    font-weight: 400;
  }
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
