@import "./mixins";
/**************************/
/* ABOVE 2000px  (huge screens) */
/**************************/
@media (min-width: 125em) {
  body .btn-up {
    left: 80%;
  }
  .registration_wrapper .registration_img {
    width: 50%;
    justify-self: end;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  .btn-outline {
    padding: 1rem 2rem;
  }
  .banner .container {
    justify-items: start;
  }
  .banner_select {
    position: absolute;
    right: 4rem;
  }
  .container {
    padding: 0 2rem;
    max-width: 90%;
  }
  .account_header.container {
    max-width: 100%;
    padding: 0rem;
  }
  .breadcrumb.container {
    padding: 4rem 0rem 2rem;
  }
  .header-primary {
    height: 12rem;
  }
  .header-primary .container {
    position: relative;
    padding: 3.3rem 1rem 3rem;
  }
  .header_nav {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 1rem;
  }
  .header_nav,
  .header_wrapper {
    gap: 2rem;
  }
  .pdtList {
    flex-shrink: 1;
  }
  .pdtList,
  .categories_Wrapper {
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
  }
  header .container {
    flex-wrap: wrap;
  }
  .footer .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 7rem 0 5rem;
    height: 60rem;
  }
  .footer_col:nth-child(2) {
    max-width: 90%;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 3rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  /* MOBILE NAVIGATION */
  .mobileNav_btn--menue {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }
  .header-primary {
    height: auto;
  }
  .header-primary .container {
    position: static;
  }
  .main_nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    transform: translateX(100%);
    transition: var(--animation);
  }
  .main_nav::before {
    content: "Exclusive";
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    @include font(2.4rem, 2.4rem, 700);
    font-family: var(--f-inter);
    letter-spacing: 0.3px;
    user-select: none;
  }
  .header_nav,
  .header_wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .header_wrapper {
    flex-direction: column;
    gap: 3rem;
    top: 12rem;
  }
  .header_form {
    margin-left: -3rem;
  }
  .header_nav {
    flex-direction: column;
    top: 26rem;
  }
  .header_navLink {
    font-weight: 600;
  }
  .open_nav {
    #root {
      overflow-y: hidden;
    }
    .main_nav {
      z-index: 99;
      transform: translatex(0%);
    }
    .mobileNav_btn--menue {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
    .mobileNav_btn--close {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }
  }
  .banner {
    height: 100%;
  }
  .banner .container {
    max-width: 100%;
    padding: 1rem;
    grid-template-columns: 1fr;
    justify-items: center;
    p {
      margin-top: 3rem;
    }
  }
  .banner_select {
    top: 1rem;
    right: 1rem;
  }
  .btn-primary {
    padding: 1.2rem 4rem;
  }
  .features {
    flex-direction: column;
    gap: 6.8rem;
  }
  .footer .container {
    height: 103rem;
  }
  .footer_col:nth-child(2) {
    align-items: center;
    gap: 4rem;
    flex-direction: column;
    text-align: center;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
@media (max-width: 44em) {
  .cart_header,
  .pdtCart {
    padding: 1.4rem 1rem;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1.4rem;
  }
  .cart_header p:first-child,
  .pdtCart div:first-child {
    justify-self: auto;
  }
  .cart_header p:last-child,
  .pdtCart p:last-child {
    justify-self: auto;
  }
}

/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .banner .container p {
    max-width: 31rem;
  }
  .mobileNav_btn--menue,
  .mobileNav_btn--close {
    top: 11.5rem;
  }
  .footer .container {
    height: 128.6rem;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 4rem;
  }
}
