:root {
  --f-inter: "Inter", sans-serif;
  --f-poppins: "Poppins", sans-serif;

  --c-primary: #db4444;
  --c-primary-hover: #e07575;
  --c-accent: #00ff66;
  --c-black: #000;
  --c-black-hover: #7d8184;
  --c-white: #fff;
  --c-off-white: #fafafa;
  --bg-gray: #f5f5f5;
  --bg-black-transparent: rgba(0, 0, 0, 0.4);

  --width-desktop: 117rem; /*1170 - 10*2 padding*/
  --width-mob: 40rem;

  --animation: all 0.3s;
  --radius: 4px;
  --opacity: 40%;
}
/********************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--f-poppins);
  color: var(--c-black);
  font-size: 1.6rem;
  font-weight: 400;
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
}
.icon {
  cursor: pointer;
}
/*************************************************************/
/* Global Style */
.container {
  width: 100%;
  max-width: var(--width-desktop);
  margin: 0 auto;
}
.logo {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  font-family: var(--f-inter);
  letter-spacing: 0.3px;
  user-select: none;
}
.heading-primary {
  font-size: 5.4rem;
  line-height: 6.4rem;
  font-weight: 600;
  letter-spacing: 0.6px;
}
.description {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.btn-primary {
  font-weight: 500;
  background-color: var(--c-primary);
  color: var(--c-off-white);
  border-radius: var(--radius);
  transition: var(--animation);
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1.6rem 4.8rem;
}
.btn-primary:hover {
  background-color: var(--c-primary-hover);
}
.btn-outline {
  border: 1px solid var(--bg-black-transparent);
  border-radius: var(--radius);
  transition: var(--animation);
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1.6rem 4.8rem;
}
.btn-outline:hover {
  border-color: black;
}
.mb-14 {
  margin-bottom: 14rem !important;
}
.mb-8 {
  margin-bottom: 8rem !important;
}
