:root {
  --f-inter: "Inter", sans-serif;
  --f-poppins: "Poppins", sans-serif;

  --c-primary: #db4444;
  --c-primary-hover: #e07575;
  --c-accent: #00ff66;
  --c-black: #000;
  --c-black-hover: #7d8184;
  --c-white: #fff;
  --c-off-white: #fafafa;
  --bg-gray: #f5f5f5;
  --bg-black-transparent: rgba(0, 0, 0, 0.4);

  --width-desktop: 117rem; /*1170 - 10*2 padding*/
  --width-mob: 40rem;

  --animation: all 0.3s;
  --radius: 4px;
  --opacity: 40%;
}
/********************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: var(--f-poppins);
  color: var(--c-black);
  font-size: 1.6rem;
  font-weight: 400;
  scroll-behavior: smooth;
  width: 100%;
  position: relative;
  overflow-x: clip;
  /* scroll-padding-top: 12rem; */
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(224, 117, 117, 0.5);
}
input:focus {
  box-shadow: none;
}
.icon {
  cursor: pointer;
}
/*************************************************************/
